<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="matsjfunke"/>
	<title>Hello</title>
</head>

<body>

    <h1>Hello {{ username }}</h1>
    <p>your favorite cookie : {{ access_token }}</p>
        
    <form action="/delete_user" method="POST" enctype="application/x-www-form-urlencoded">
        <!-- Hidden input field to send username -->
        <input type="hidden" id="usernameInput" name="username" value="{{ username }}">
        <button type="submit">Delete your account</button>
    </form>

    <form action="/update_username" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="text" name="new_username" placeholder="username">
        <input type="hidden" id="old_username" name="old_username" value="{{ username }}">
        <button type="submit">Change your username</button>
    </form>

</body>

</html>
