<form action="/login" method="POST" enctype="application/x-www-form-urlencoded">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="text" name="time_frame" placeholder="entrie time frame" value="all">
    <input type="submit" value="Submit" id="submit">
</form>
<p>Enter "all" to view all entires.</p>
<p>Enter a year like 2023 to view the year.</p>
<p>Add a month and or a day to the year like 2023-12 or 2023-12-07 to view specific time frames.</p>
